@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  background-color: rgb(223, 233, 236);
  display: flex;
  justify-content: center;
}

#root {
  /* flex-grow: 1; */
  height: 100vh;
  width: 100%;
  max-width: 1280px;
  background-color: rgb(255, 255, 255);
  padding-inline: 20px;
  /* margin-inline: auto; */
  /* border: 5px solid red; */
}

.login {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-content {
    width: 500px;
    height: auto;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 20px 50px 5px#235345;
    box-shadow: 10px 2px 50px 5px#627b44;
  }

  h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: bold;
  }

  h2 {
    
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: bold;
  }

  h5,
  h4 {
    font-size: 1.25rem;
    text-align: center;
  }

  h4 {
    margin: 0 0 5px 0;
  }

  .login-form-content {
    width: 90%;
    margin-inline: auto;

    form {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-inline: auto;
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


nav {
  display: flex;
  justify-content: space-between;;
  border-radius: 4px;
  max-height: 40px;
  margin-block: 16px;
}

.search-bar {
  display: flex;
}

.search-text {
  margin-left: 24px;
  flex: 1;
}

.icon-group {
  display: flex;
}


main {
  flex-grow: 1;
  overflow-y: auto;
  margin-block : 16px
}

footer {
  text-align: center;
  font-weight: 700;
}



.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeline-header, 
.dock-row {
  display: grid;
  grid-template-columns: 100px repeat(96, 1fr); /* 100px for dock name, 96 for 15-min slots */
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.hour-header, 
.time-slot {
  padding: 0px; /* Reduced padding */
  /* max-width: 8px; */
  text-align: center;
  border-left: 1px solid #ccc;
  font-size: 0.75rem; /* Smaller font size */
}

.time-slot {
  height: 30px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
}

.time-slot.reserved {
  background-color: #f53123; /* Light orange for reserved slots */
  color: white; /* Ensure text is readable */
}

.time-slot.available {
  background-color: #d3f9d8; /* Light green for available slots */
}


.dock-header {
  font-weight: bold;
  text-align: left;
  padding: 5px;
}

/* Adjust styles for merged hour headers */
.hour-header {
  grid-column: span 4; /* Merge 4 columns */
}


/* .testing.MuiDialogTitle-root {
  background-color: #1976d2;
  
} */

/* h2.testing {
  padding: 12px 66px;
  color: #d3e2f1;
} */
